{% include 'header.html' %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><span class="icon solid fa-tv"></span> Entertainment Tracker <span class="icon solid fa-book"></span></h1>
						<p>Made for IOS with Swift</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<header class="major">
									<h2><b>About the Project</b></h2>
									<p>Create your own virtual library collection of tv shows, movies and books. Keep track of what entertainment you have, are currently, or want to enjoy.</p>
									<p>The library is organized by tv shows, movies and books. Add new items to your library and mark them as to do, in progress, or finished. You can add ratings and include a picture from your camera or library. For tv shows you can keep track of them by season.</p>
									<video class="" controls autoplay muted>
										<source src="static/videos/library.mp4" type="video/mp4">
									</video>
									<p>Edit existing items to change the rating and progress. Then use the map button to search for local stores to purchase your entertainment from.</p>
									<video class="" controls muted>
										<source src="static/videos/editlibrary.mp4" type="video/mp4">
									</video>
									<p>Search for items in your library.</p>
									<video class="" controls muted>
										<source src="static/videos/searchlibrary.mp4" type="video/mp4">
									</video>
									<p>If you are feeling bored and want to find something else to do then discover new activities. Using an API to retrieve the activities you can choose any type of activity or completely random.</p>
									<video class="" controls muted>
										<source src="static/videos/randomactivity.mp4" type="video/mp4">
									</video>
								</header>
								<div class="container">
									<p>This project was my final project for a class in college. I also created a video presentation which includes the class diagram, MVC diagram, and lessons learned. <a href="https://youtu.be/YcYQGadE-eQ" class="button primary small">Check out the full video here <span class="icon brands fa-youtube"></span></a></p>
								</div>
							</section>

					</div>
				{% include 'footer.html' %}

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>