{% include 'header.html' %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1>Bryanna Donovan</h1>
						<h2>Portfolio</h2>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">About Me</a></li>
							<li><a href="#first">Education and Work Experience</a></li>
							<li><a href="#second">Certificates</a></li>
							<li><a href="#cta">Projects</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- About Me -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2><b>About Me</b></h2>
										</header>
										<p>
											Hi, I'm Bryanna! I am an aspiring software developer with a work background as an IT Specialist. I've always had a passion for technology, especially video games and coding. After several years honing my skills in IT support I've recently decided to take the leap and focus on what excites me the most: software development.
											<br>
											<br>
											I love learning new things, and this curiosity fuels my desire to explore a wide range of projects and hobbies. From art and reading to modifying cars and playing softball my hobbies keep me balanced and creative. I'm the type of person who thrives by exploring various interests and challenging myself to grow in different ways.
											<br>
											<br>
											My goal is to make the transition from IT to development and eventually build interesting and innovative software that makes a difference.
										</p>
									</div>
									<span class="image">
										<img src="static/images/headshot.jpg" alt="" />
									</span>
								</div>
							</section>
						<div style="text-align: right;">
											<svg width="20px" height="20px">
												<image href="static/images/fox.svg" height="20px" width="20px" />
											</svg>
											Fun fact: Foxes are my favorite animal
											<svg width="20px" height="20px">
												<image href="static/images/fox.svg" height="20px" width="20px" />
											</svg>
										</div>

						<!-- Education -->
							<section id="first" class="main special">
								<div style="overflow-x:auto;">
									<table>
										<tr>
											<td>
												<header class="major">
													<h2><b>Education</b></h2>
													<p>Bachelor of Science, Computer Science</p>
													<p>Arizona State University, Tempe, AZ</p>
												</header>
												<footer class="major">
													<span class="icon solid style7 fa-user-graduate"></span>
													<p>Check out my capstone projects below</p>
													<ul class="actions special">
														<li><a href="{{url_for('virtualforge')}}" class="button primary">Virtual Forge <span class="icon solid fa-fire"></span></a></li>
														<li><a href="{{url_for('shorebuddies')}}" class="button primary">Shore Buddies <span class="icon solid fa-water"></span></a></li>
													</ul>
												</footer>
											</td>
											<td>
												<header class="major">
													<h2><b>Work Experience</b></h2>
													<h3><b>Statistics & Data Corporation</b></h3>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Dates</th>
																	<th>Title</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>May 2023 - March 2025</td>
																	<td>Information Technology Specialist</td>
																</tr>
																<tr>
																	<td>August 2022 - May 2023</td>
																	<td>Helpdesk Analyst II</td>
																</tr>
																<tr>
																	<td>January 2022 - August 2022</td>
																	<td>Helpdesk Analyst</td>
																</tr>
																<tr>
																	<td>November 2017 - January 2022</td>
																	<td>IT Intern</td>
																</tr>
															</tbody>
														</table>
													</div>
												</header>
											</td>
										</tr>
									</table>
								</div>
							</section>

						<!-- Certificates -->
							<section id="second" class="main special">
								<header class="major">
									<h2><b>Certificates</b></h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon solid major style1 fa-gamepad"></span>
										<h3>Computer Gaming</h3>
										<h4>Arizona State University</h4>
										<p>Acquired and applied game development skills such as game design, software development, and art.</p>
										<p>Skills: C#, C++, Unity, GameMaker, MonoGame, Unreal Engine, 3ds Max, Photoshop</p>
									</li>
									<li>
										<span class="icon major style3 fa-heart"></span>
										<h3>Arts and Humanities in Games</h3>
										<h4>Arizona State University</h4>
										<p>Learned to design, analyze and understand the cultural, social, and emotional impact of games through an interdisciplinary approach.</p>
										<p>Skills: Critical and deep thinking, Twine, Microsoft Office, Unreal Engine, Photoshop</p>
									</li>
									<li>
										<span class="icon solid major style5 fa-code"></span>
										<h3>100 Days of Code: The Complete Python Pro Bootcamp</h3>
										<h4>Udemy</h4>
										<p>Developed a strong foundation of Python with a focus on game development, web development, scripting, and automation.</p>
										<p>Skills: Python, Selenium, HTML, CSS, JavaScript, Beautiful Soup, Flask, Jinja, SQLite, SQLAlchemy, APIs, Tkinter, Pandas, Bootstrap</p>
									</li>
									<li>
										<span class="icon solid major style6 fa-user-secret"></span>
										<h3>Learn Ethical Hacking from Scratch</h3>
										<h4>Udemy</h4>
										<p>Learned how to hack systems like black-hat hackers and detect, prevent, and secure them like security experts.</p>
										<p>Skills: VMware, Kali Linux, Wireshark, SQLmap, Metasploit, Penetration Testing, Network Hacking</p>
									</li>
								</ul>
							</section>

						<!-- Projects -->
							<section id="cta" class="main special">
								<header class="major">
									<h2><b>Projects</b></h2>
									<p>Below are some of my favorite projects I have done.</p>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon solid fa-atom"></span>
										<strong><a href="{{url_for('ricksavior')}}">RickSavior</a></strong> 2D platformer built in GameMaker
									</li>
									<li class="style2">
										<span class="icon solid fa-cookie"></span>
										<strong><a href="{{url_for('cookieclicker')}}">Automated Cookie Clicker</a></strong> Made with Python
									</li>
									<li class="style3">
										<span class="icon solid fa-book-open"></span>
										<strong><a href="{{url_for('entertainmenttracker')}}">Entertainment Tracker</a></strong> Made with Swift
									</li>
									<li class="style4">
										<span class="icon solid fa-rocket"></span>
										<strong><a href="{{url_for('spaceevaders')}}">Space Evaders</a></strong> Shooter made with MonoGame
									</li>
									<li class="style5">
										<span class="icon solid fa-gamepad"></span>
										<strong><a href="{{url_for('snake')}}">Snake</a></strong> Made with Python
									</li>
									<li class="style6">
										<span class="icon solid fa-film"></span>
										<strong><a href="{{url_for('topmovies')}}">List of Top Movies</a></strong> Made with Python, Flask and SQL
									</li>
								</ul>
								<footer class="major">
<!--									<ul class="actions special">-->
<!--										<li><a href="generic.html" class="button">See All Projects</a></li>-->
<!--									</ul>-->
								</footer>
							</section>

					</div>
				{% include "footer.html" %}

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>