{% include 'header.html' %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Snake</h1>
						<p>2D classic retro game made with Python</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<header class="major">
									<h2><b>About the Game</b></h2>
									<p>I've always enjoyed playing the classic snake game so I created a version of it myself using Python and the Turtle module. It keeps track of the high score in a local file.</p>
								</header>
								<video class="" controls autoplay muted loop>
									<source src="static/videos/snake.mp4" type="video/mp4">
								</video>
								<a href="https://github.com/brybry129/SnakeGame" class="button primary">Check out on GitHub here <span class="icon brands fa-github"></span></a>
							</section>

					</div>
				{% include 'footer.html' %}

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>