{% include 'header.html' %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Space Evaders</h1>
						<p>Shooter game made with MonoGame</p>
						<span class="image center"><img src="static/images/spaceevaders.jpg" alt="" /></span>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<header class="major">
									<h2><b>About the Game</b></h2>
									<p>Based on the popular arcade game Space Invaders this game switches it up. While traveling through space you become trapped in a large asteroid belt. Avoid or shoot the asteroids to find your way through. </p>
									<p>Space Evaders was created with the MonoGame C# framework. There are 3 levels each with 3 waves of asteroids. Collect the yellow pickups for extra points and the purple pickups will give you ammo. Credit for the ship object is TurboSquid and credit for the asteroid object is from a class in college.</p>
								</header>
								<video class="" controls autoplay muted>
									<source src="static/videos/spaceevaders.mp4" type="video/mp4">
								</video>
							</section>

					</div>
				{% include 'footer.html' %}

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>